/* Add application styles & imports to this file! */
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}